<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #h (keyup)="buscarHospital( h.value)" type="text" class="form-control" placeholder="Buscar hospital">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div align="right">
                    <button (click)="crearHospital()" class="btn btn-primary btn-large text-right">
                        <i class="fa fa-plus"></i>
                        Crear hospital
                    </button>
                </div>
                
                <h3 class="card-title">Hospitales Registrados ( <small>{{ totalRegistros }}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <!-- Mostrar modal -->
                                <img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen: 'hospitales'" class="w50 pointer">
                            </td>
                            <td>
                                <input [(ngModel)]="hospital.nombre" type="text" class="form-control">
                            </td>
                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary mr-2">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="eliminarHospital(hospital)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-2">
                    Anteriores
                </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>